@import './variables';

@mixin customDisplayFlex($padding: 0, $margin: 0, $direction: row) {
  display: flex;
  flex-direction: $direction;

  @if $padding != 0 {
    padding: $padding;
  }

  @if $margin != 0 {
    margin: $margin;
  }
}

@mixin button-white-hover {
  background-color: #fff;
  color: $dark-green;
  border: 0;
}

@mixin button-dark-green {
  background-color: $dark-green;
  color: #fff;
  border: 0;
}